body {
    background-color: #f5f5f5;
}

#backBtn {
    width: 300px;
    font-size: xx-large;
    background-color: #30A9F3;
    font-weight: 600;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    height: 120px;
}

#aboutDiv {
    width: 95%;
    margin:0 auto;
    /*margin-left: 20px;*/
    font-size: x-large;
}

ul {
    background-color: #eeeeee;
}
li {
    padding: 30px;
}
strong{
    font-weight:bold;
}
