#instructions{
    font-size: 2rem;
    text-align: left;
    margin:25px;
    font-family: 'Open Sans', sans-serif;
}
textarea::-webkit-input-placeholder{
    color: #a5a5a5;
    font-size:  3rem;
}
textarea {
    width: 92vw;
    height: 15vw;
    font-size: 3rem;
}
#details {
    width: 92vw;
    height: 120px;
    font-size: 3rem;
}
#postBtn {
    background-color: #5A5A5A;
    /*height: 40vw;*/
    width: 92vw;
    height: 20vw;
    font-size: xx-large;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    margin-top: 20px;
    /*width: 100%;*/
}
#title {
    margin-top: 30px;
}

#details {
    height: 40vw;
    text-align: left ;
}