


body{
    background-color: #EEEEEE;

}

#feed-container{;
    background-color: #EEEEEE;
    text-align: center;
    padding-bottom: 7vh;
}

#bottom-navbar {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #363232;
    font-family: 'Open Sans', sans-serif;
    color: #8D8D8D;
}

#bottom-navbar ul {
    margin: 0;
    padding: 0;
}

#bottom-navbar  .tab {
    list-style-type: none;  /* Removes bullets */
    float: left;
    width: 25%;
    height: 7vh;
    text-align: center;
    line-height: 48px;
    cursor: pointer;
    font-size: 2rem;

    margin-bottom: 10px;
    /*border-right:1px solid #FFF*/

}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {
    font-size: 1.5em;
}

.selected{
    color: #1B9AF7;
}

.card{
    position:relative;
    display: inline-block;
    text-align: left;
    background-color: #FFFFFF;
    margin: 2vw 3vw 2vw 3vw;
    min-height: 40vw;
    width: 92vw;
    font-family: 'Open Sans', sans-serif;
    padding-bottom: 55px;
}

.unhandled{

}


.in-progress {
    /* should be changed to /data/in-progress.png when hosted on on the web*/
    background-image: url("/Democracy-App-2/data/in_progress2.png");
    background-size: cover;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center top;
}

.cancelled{
    /* should be changed to /data/in-progress.png when hosted on on the web*/
    background-image: url("/Democracy-App-2/data/Cancelled2-01.png");
    background-size: cover;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center top;
}

.closed{
    /* should be changed to /data/in-progress.png when hosted on on the web*/
    background-image: url("/Democracy-App-2/data/Closed2-01.png");
    background-size: cover;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center top;

}

.card-title{
    font-size: 3rem;
    margin: 25px;
    color: #000000;

}
.expandable-content{
    height: 100px;
    background: gray;
    color: #4b4b4b;
}
.card-content{

    font-size: 1.35rem;
    margin: 25px;
    margin-bottom: 40px;

}

.status-msg-list-container{
    margin: 25px;
    font-size: 0.8rem;
}
.status-msg-time{
    margin-bottom: 0;
    font-weight: bolder;
}



.footer-container{
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 80px;

}

.notClicked{
    color: #AAAAAA;
}

.flag-container{
    float: left;
    margin-left: 20px;
}
.fa-flag{
    font-size: 3.6rem;
}
.flagged{
    color: orangered;
}

.date-container{
    float: left;
    font-size: 1.5rem;
    margin-left: 120px;
    bottom: 30px;
    position: absolute;
    color: #5F5F5F;
}


.arrow-container{
    float: left;
    margin-right: 50%;
    margin-left: 50%;
    color: #cccccc;
    font-size: 3.6rem;
    position: absolute;
}


.agree-container{
    float: right;
    margin-right: 30px;
    color: #5F5F5F;
    font-size: 1.5rem;
}
.fa-check{
    font-size: 3.6rem;
}
.agreed {
    color:green;
}

.disagree-container{
    float: right;
    margin-right: 20px;
    font-size: 1.5rem;
    color: #5F5F5F;
}
.fa-times{
    font-size: 3.6rem;
}
.disagreed{
    color: firebrick;
}



/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar, #snackbarNewPost, #snackbarFlag{
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 600px; /* Set a default minimum width */
    margin-left: -300px; /* Divide value of min-width by 2 */
    background-color: #333; /* Black background color */
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    left: 50%; /* Center the snackbar */
    bottom: 10vh;
    font-size: 3rem;
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show, #snackbarNewPost.show, #snackbarFlag.show{
    visibility: visible; /* Show the snackbar */

    /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
    However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 10vh; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 10vh; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 10vh; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 10vh; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

#feedbackBtn {
    background-color: #30A9F3;
    font-weight: 600;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    height: 120px;
}

#aboutBtn {
    background-color: #30A9F3;
    font-weight: 600;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    height: 120px;
}