#header {
    height: 50px;
    margin-top: 20px;
    font-size: large;
    text-align: center;
}
#login_prompt {
    height: 40px;
    color: #bdbdbd;
    text-align: center;
}
#login_box {
    align-content : center;
    width:95%;
    height:450px;
    background-color: #f5f5f5;
    margin: 0 auto;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    color: #000000;
}
input[type=text]::-webkit-input-placeholder, input[type=password]::-webkit-input-placeholder{
    color: #e5e5e5;
}
#loginBtn {
    background-color: #5A5A5A;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

/*#feedbackBtn {*/
    /*background-color: #505050;*/
    /*color: white;*/
    /*padding: 14px 20px;*/
    /*margin: 8px 0;*/
    /*border: none;*/
    /*cursor: pointer;*/
    /*width: 100%;*/
/*}*/